@use  '../0-abstracts/colors' as c;
//example $fontDisplay: 'Big Shoulders Display', cursive;
$fontDisplay: 'Raleway', sans-serif;
$fontDisplay2: 'Open Sans', sans-serif;

body {
    font-family: $fontDisplay;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    p {
        font-family: $fontDisplay2 ;
    }
    main {
        h1 {
            font-size: 2rem;
            line-height: 3rem;
        }
        p {
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
        button {
            font-weight: 600;
        }
        h2 {
            font-size: 1.8rem;
        }
    }
    .testimony {
        p {
            font-size: 0.9rem;
            line-height: 1.5rem;
            font-family:$fontDisplay;
        }
        .author-name {
            font-weight: 600;
        }
        .author-title {
            font-size: 0.7rem;
        }
    }

}

